## Ignore Visual Studio files
.vs/
*.user
*.suo

## Ignore build results
bin/
obj/

## Ignore logs
*.log

## Ignore Rider project files
.idea/

## ASP.NET Core secrets
appsettings.Development.json

## Ignore OS-specific files
.DS_Store
Thumbs.db
